/* option styling */

.options{
    position:relative;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 2rem;
}
.option-container{
    position: relative;
    width: 14rem;
    height: 14rem;
    margin: auto;
    display: flex;
    box-sizing: border-box;
}
.stone{
    top:-30%;
    left: -40%;
    position: absolute;

    z-index:10;

    display: flex;
    box-sizing: border-box;
    cursor:pointer;

}
.stone .outer-ring{
    background-color: blue;
    width:10rem;
    height:10rem;

    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.stone .inner-ring{
    width: 8rem;
    height:8rem;
    background-color: white;

    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 10px;
}
/* paper styling */

.paper{
    top:60%;
    left: 20%;
    position: absolute;
    z-index:10;

}
.paper .outer-ring{
    background-color: orange;
    width:10rem;
    height:10rem;

    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.paper .inner-ring{
    width: 8rem;
    height:8rem;
    background-color: white;

    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 10px;
}
/* scissor styling */


.scissor{
    top:-30%;
    left: 80%;
    position: absolute;
    z-index: 10;

}
.scissor .outer-ring{
    background-color: purple;
    width:10rem;
    height:10rem;

    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.scissor .inner-ring{
    width: 8rem;
    height:8rem;
    background-color: white;

    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 10px;
}

/* ........................Lines Styline..................*/

.line{
    position: absolute;
    width: 1rem;
    background-color: rgba(0, 0, 0, 0.791);
    transform-origin: top;
}
.line1{
    top:0;
    height:18rem;
    transform: rotate(-25.57deg);
}
.line2{
    top:0;
    height: 100%;
    transform: rotate(-90deg);
}
.line3{
    top:0;
    left:100%;
    transform: translate(-50%) rotate(25.57deg);
    height: 18rem;
}
.options{
    display:block;
}
